html, body {
    height:100%
    
    /* position:relative; */
}

body {
    background-color: #E2D140; 
}

#cloud-container{
    min-height:100% ;
}

.centered {
  max-width: 900px;
  width: 100%;
  display: block;
  position: absolute;  
  top: 0;  
  bottom: 0;  
  left: 0;  
  right: 0;  
  margin: auto;
}

